.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c1e7d7;
    padding: 12px;
}

.title {
    margin: 0;
    color: #3B4B0B;
    font-weight: 800;
    font-size: 30px;
}

.title:hover {
    cursor: pointer;
    color: #f1c40f;
}

.navbar.right {
    margin-left: auto;
}

.navbar .right a {
    color: #555;
    padding: 0;
    margin: 15px;
    font-weight: 700;
    font-size: 18px;
}

.navbar .right a:hover {
    background-color: rgba(83, 168, 83, 0.7);
    padding: 8px 8px;
    margin: 7px;
}